<app-header></app-header>

<ion-content>
  <ion-card mode="ios"> 
    <img class="icon" src="../../../assets/icon/mango.svg" alt="Icono">
  <ion-card-content>
    <p><b>MangoQR</b> es una aplicación móvil desarollada para la Urbanización Los Mangos, ubicada en el Municipio José Ángel Lamas para el control de la entrega de los beneficios del CLAP a través del código QR del carnet de la Patria.</p>
  </ion-card-content>
  </ion-card>

  <!-- <ion-card mode="ios">
    <img src="../../../assets/icon/mango.svg" style="width: 30%;">
    <ion-card-content ion-text-center>
      <p><b>MangoQR</b> es una aplicación móvil desarollada para la Urbanización Los Mangos, ubicada en el Municipio José Ángel Lamas para el control de la entrega de los beneficios del CLAP a través del código QR del carnet de la Patria.</p>
    </ion-card-content>
  </ion-card> -->

    
</ion-content>
