<ion-content>
    <ion-grid>
        <ion-row>

            <ion-col>
                <ion-card class="ion-text-center padding" color="primary" mode="ios" color="light" (click)="scanCode()">
                    <ion-icon src="../../../assets/icon/codigo-qr.svg" class="icono"></ion-icon>
                    <p>Escanear QR</p>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="ion-text-center padding" color="primary" mode="ios" color="light" (click)="Onlogout()">
                    <ion-icon name="exit"></ion-icon>
                    <p>Cerrar sesión</p>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="ion-text-center padding" color="primary" mode="ios" color="light" (click)="reporte()">
                    <ion-icon name="add"></ion-icon>
                    <p>Reporte</p>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>