<app-header></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-content>

      <ion-item lines="none">
        <ion-label>
          <p>Desde</p>
        </ion-label>
        <ion-datetime placeholder="Ingrese una fecha" displayFormat="DD/MM/YYYY" (ionChange)="loadResults()" [(ngModel)]="startDate"></ion-datetime>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Hasta</p>
        </ion-label>
        <ion-datetime placeholder="Ingrese una fecha" displayFormat="DD/MM/YYYY" (ionChange)="loadResults()" [(ngModel)]="endDate" [min]="startDate"></ion-datetime>
      </ion-item>

      <ion-button (click)="generarPDF()" expand="full" shape="round" mode="ios">Generar PDF</ion-button>

      <!-- <ion-button *ngIf="pdf" (click)="openPDF()" expand="full" shape="round" mode="ios">Abrir PDF</ion-button> -->

    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" *ngFor="let QR of QR | async">
    <ion-card-content>
      <ion-list>

        <ion-item lines="none">
          <ion-icon name="finger-print" slot="start" color="primary"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p>Cédula: {{QR.cedula}}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="qr-scanner" slot="start" color="primary"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p>Serial: {{QR.serial}}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="information-circle-outline" slot="start" color="primary"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p>{{QR.createdAt}}</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>